body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: start;
  margin-top: 20px;
  padding: 10;
  background-color: grey;
  border: 2px solid black;
}

.container1,
.container2 {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container1 {
  background-color: lightblue;
}

.container2 {
  background-color: lightgreen;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}

p {
  text-align: justify;
  margin-top: 10px;
  line-height: 1.6;
}
